<!DOCTYPE html>
<!-- esto es un comentario xdd-->
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 style="text-align: center; background-color: activecaption; color: white">Mis Autos</h1>
        <a href="/">TechShop</a> | <a href="/ejemplo2">Mis Autos</a>
        <h2>Lunes</h2>
        <img src="../static/img/lunes.jpg" alt=""/>
        <h2>Martes</h2>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtjeFCylry6__xhowI9rTjb6qXvWyDUaIUPQ&s" alt=""/>
    </body>
</html>
